<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top">
  <div class="container ">
    <a class="navbar-brand" href="#"><img src="https://www.hrincjobs.com/assets/images/logo.png" width="150px" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <div class="col-lg-7 col-md-12">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="home" routerLinkActive [routerLinkActiveOptions]="{exact:true}"><button mat-flat-button >Home</button></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus" ><button mat-flat-button routerLinkActive="active-link" color="">About Us</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  routerLink="contactus" ><button mat-flat-button routerLinkActive="active-link">Contact Us</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " ><button mat-flat-button [matMenuTriggerFor]="menu" routerLinkActive="active-link"><span class="fi fi-kh"></span> Cambodia <i class="bi bi-caret-down-fill"></i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="asean" ><span class="fi fi-kh"></span> Cambodia</button>
              <button mat-menu-item routerLink="asean" ><span class="fi fi-la"></span> Laos</button>
              <button mat-menu-item routerLink="asean" ><span class="fi fi-mm"></span> Myanmar</button>
              <button mat-menu-item routerLink="asean" ><span class="fi fi-us"></span> ASEAN</button>
            </mat-menu>
          </a>
        </li>
      </ul>
    </div>

      <div class="col-lg-5 col-md-12">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link" routerLink="menu" ><button mat-flat-button [matMenuTriggerFor]="menu1" class="py-4"><mat-icon>person</mat-icon>Sign in</button>
              <mat-menu #menu1="matMenu">
                <button mat-menu-item>Job Seeker</button>
                <button mat-menu-item>Employer</button>
              </mat-menu>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link " routerLink="contact" ><button mat-flat-button class="border text-light py-4 rounded-pill" style="background-color: var(--primary-color);" ><mat-icon>shield</mat-icon>Employer</button></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " routerLink="contact" ><button mat-flat-button (click)="openDialog()" class="border text-light py-4 rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5 mb-1">attach_money</mat-icon> Get Quotations</button></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<!-- <div class="bg-white">
  <nav class="container bg-cyan-400 p-5 bg-white md:flex md:items-center md:justify-between ">
    <div class="md:flex ">
      <span class=" text-2xl font-[Poppins] cursor-pointer">
        <img class="h-10 inline" src="https://www.hrincjobs.com/assets/images/logo.png" alt="">
      </span>

      <ul class="md:flex md:items-center">
        <li class="nav-item">
          <a class="nav-link " routerLink="home" routerLinkActive [routerLinkActiveOptions]="{exact:true}"><button mat-flat-button >Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus" ><button mat-flat-button routerLinkActive="active-link" color="">About Us</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  routerLink="contactus" ><button mat-flat-button routerLinkActive="active-link">Contact Us</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " ><button mat-flat-button [matMenuTriggerFor]="menu" routerLinkActive="active-link"><span class="fi fi-kh"></span> Cambodia <i class="bi bi-caret-down-fill"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="asean" ><span class="fi fi-kh"></span> Cambodia</button>
            <button mat-menu-item routerLink="asean" ><span class="fi fi-la"></span> Laos</button>
            <button mat-menu-item routerLink="asean" ><span class="fi fi-mm"></span> Myanmar</button>
            <button mat-menu-item routerLink="asean" ><span class="fi fi-us"></span> ASEAN</button>
          </mat-menu>
        </a>
      </li>
      </ul>
    </div>
    <ul class="md:flex ">
      <li class="nav-item ">
        <a class="nav-link" routerLink="menu" ><button mat-flat-button [matMenuTriggerFor]="menu1" class="py-4"><mat-icon>person</mat-icon>Sign in</button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>Job Seeker</button>
            <button mat-menu-item>Employer</button>
          </mat-menu>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link " routerLink="contact" ><button mat-flat-button class="border text-light py-4 rounded-pill" style="background-color: var(--primary-color);" ><mat-icon>shield</mat-icon>Employer</button></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " routerLink="contact" ><button mat-flat-button (click)="openDialog()" class="border text-light py-4 rounded-pill" style="background-color: var(--primary-color);" ><mat-icon class="fs-5">attach_money</mat-icon> Get Quotations</button></a>
      </li>
    </ul>

  </nav>
</div> -->


